* {
	margin:0;
	padding:0;
}
 
body {
    background:#FFFFFA;
    font-family:Roboto,sans-serif;
}
/* ===========BANNER================== */
main{
    background-image: url(./imagenes/banner.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
/* ===========HEADER================== */
header {
    width: 100%;
    display: inline-flex;
    height: 785px;
}
/* header nav {
	width:90%;
	max-width:1000px;
    margin:20px auto;
} */
.bt-menu {
	display:none;
}
.logo-header{width:37px;}
.menu_bar{
    border-right:2px solid #fff;
    padding:25px 32px 25px 36px;
}
header nav ul {
	overflow:hidden;
	list-style:none;
}
 
header nav ul li {
	float:left;
}
 
header nav ul li a {
	color:#fff;
	padding:44px 20px;
	display:block;
	text-decoration:none;
}
 
header nav ul li span {
	margin-right:10px;
}
 
header nav ul li a:hover {
	background:#037E8C;
}
.idioma{
    right: 94px;
    position: absolute;
}
.mensaje-principal{
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%);
}
.mensaje-principal h1{
    font-size:53px;
    line-height:68px;
    letter-spacing: -0.05px;
    color:#fff;
}
.mensaje-principal span{
    color:#cbe346;
}
.mensaje-principal button{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 40px;
}
.banner img{
  display: block;
  max-width: 100%;
  height: auto;
}


/* ==============BAJADA================== */
.bajada{
    background:#f3f4f8;
    display:flex;
    justify-content:center;
}
.texto-verde{
    color:#cbe346;
}

/* ==============FOOTER================== */
footer{
    background:#cbe346;
    padding:64px 73px;
}
footer nav ul li a{
    text-decoration: none;
    color: #2b3049;
    font-size: 13px;
    letter-spacing: 1.14px;
    margin-right: 40px;
}
footer nav ul, .redes-sociales{
    display: flex;
    list-style-type:none;
    text-decoration:none;
}
.redes-sociales{margin-top:26px;}
.redes-sociales li a{
    color: #fff;
    width: 29px !important;
    height: 29px !important;
    border-radius: 100%;
    border: 1px solid #fff;
    display: block;
    line-height: 31px;
    text-align: center;
    font-size: 13px;
    margin-right: 10px;
}
.logo-footer{
    float: right;
    bottom: 75px;
    position: relative;
    width: 55px;
}





















/* =================MEDIA QUERIES=============== */
@media screen and (max-width:800px ) {
    header{height:80vh;}
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
        position: fixed;
        background:#cbe346;
        z-index:100;
    }
    .bt-menu {
	display:block;
}
	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
 
	.menu_bar {
        width:100%;
        border:none;
	}
 
	.menu_bar .bt-menu {
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
        box-sizing:border-box;
        float: right;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
    }
    .mensaje-principal {
        position: absolute;
        top: 20%;
        transform:none;
        padding: 35px;
    }
    .mensaje-principal h1{
        font-size:38px;
        line-height:normal;
    }

}